@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /* FONTS */
    --font-type: "Poppins", sans-serif;
    --h1-fontWeight: 700;
    --h1-fontSize: 2rem;
    --normalText-fontSize: 1.3rem;
    --smallText-fontSize: 1.1rem;
    --normalText-fontWeight: 400;

    /* COLOURS */
    --bg-colour: #FFFFFF;
    --text-colour: #E5F4E3;
    --btn-colour: #F06449;
    --sub-colour: #1B1B3A;

    --margin-80: 80px;
    --margin-50: 50px;
    --margin-30: 30px;
    --margin-15: 15px;
    --margin-10: 10px;
    --margin-5: 5px;
}
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
html, body{
    width: 100%;
    height: 100%;
}
/* Resusable Classes */
.width65{
    width: 77%;
}
.text-center{
    text-align: center;
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.element-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.h1{
    font-family: var(--font-type);
    font-weight: var(--h1-fontWeight);
    font-size: var(--h1-fontSize);
    color: var(--text-colour);
}
.p{
    font-family: var(--font-type);
    font-weight: var(--normalText-fontWeight);
    font-size: var(--smallText-fontSize);
    color: var(--bg-colour);
    margin-top: var(--margin-5);
}
.btn{
    width: 300px;
    height: 80px;
    border-radius: 10px;
    background-color: var(--btn-colour);
    padding: 10px 40px;
    transition: all 0.3s ease;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}
.hero-image{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
#hero1{
    background-image: url('./images/1.png');
}
#hero2{
    background-image: url('./images/2.png');
}
#hero3{
    background-image: url('./images/3.png');
}
#get-started{
    margin-top: var(--margin-80);
    font-size: var(--normalText-fontSize);
}
.carousel {
    position: relative;
    width: 100%;
    height: 100vh; /* Fullscreen */
    overflow: hidden;
}

.carousel-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-slide.active {
    opacity: 1;
}